<ion-header>
  <ion-toolbar style="font-weight:bold;">
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-text class="ion-text-center ion-padding">Top up</ion-text>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Type the amount</ion-label>
    <ion-input type="number" [(ngModel)]="value"></ion-input>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-button color="success" style="margin: 15px 15px;" type="submit" expand="block" (click)="confirm()">Confirm</ion-button>
</ion-footer>
