<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button fill="clear" (click)="goBack()">
      <ion-icon color="dark" slot="icon-only" name="chevron-back-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="main-header"></div>

  <ion-card>
  <img class="Yasin" style="border-radius: 50%;" [src]="account.avatar" alt="">
  <ion-card-header>
    <ion-card-title class="ion-text-center">{{account.name}} </ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <ion-item lines="full">
        <ion-label >Name: </ion-label>
        <ion-label >{{account.name}} </ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label >Balance: </ion-label>
        <ion-label>Rp.{{account.balance.toLocaleString('de-DE')}} </ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label >Card Number: </ion-label>
        <ion-label>{{account.cardNumber}}</ion-label>
      </ion-item>
      <ion-col class="ion-padding">
        <div align="center">
        </div>
      </ion-col>
  </ion-card-content>
</ion-card>
</ion-content>
