<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" (click)="goBack()">
      <ion-icon color="dark" slot="icon-only" name="chevron-back-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col class="ion-margin-top">
      <ion-text class="ion-margin-start" color="dark" style="font-weight: bold;">
        Choose an amount
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4" *ngFor="let menu of features">
      <ion-card (click)="selectItem(menu)">
        <ion-icon *ngIf="selectedMenuId === menu?.id" name="checkmark-circle" color="success" size="large"></ion-icon>
        <ion-card-header>
          <div align="center">
            <ion-thumbnail>
              <img [src]="menu.icon">
            </ion-thumbnail>
          </div>
        </ion-card-header>
        <ion-card-content class="ion-text-center">
          <ion-label style="font-size: 0.7rem; font-weight: bold;" [color]="selectedMenuId === menu.id ? 'success' : 'dark'" >{{menu.name}}</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-content>
  <form>
    <div align="center">
      <ion-button type="ion-button" color="warning" (click)="openModal()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>&nbsp;
        Or, type the amount</ion-button>
    </div>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-button color="success" style="margin: 15px 15px;" type="submit" expand="block" (click)="submit()">Send</ion-button>
</ion-footer>
