ion-content {
  .main-header{
      margin-top: -70px;
      margin-left: -14vh;
      height: 60vh;
      width: 150%;
      background: linear-gradient(90deg, #ffc20e 10%,#e25826 100%);
      border-radius: 0 0 50% 50%;
  }
}
